@import '../../styles/partials/screen-size';

.landing-cont {
  .heading-cont {
    margin-top: 200px;
    font-size: 60px;
    color: #ECB602;
    font-weight: 700;
    transition: all 200ms ease-in-out;
    align-self: center;

    .search-txt-cont {
      color: white;
      font-weight: 400;
      transition: all 200ms ease-in-out;
    }

    &-is-collapsed {
      margin-top: 16px;
      font-size: 30px;
      align-self: start;
      margin-left: 5%;

      .search-txt-cont {
        opacity: 0;
      }
    }
  }

  .input-cont {
    height: 120px;
    width: 90%;
    position: fixed;
    max-width: 768px;
    transition: 200ms all ease-in;

    .input-text {
      font-size: 16px;
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
  }

  .markdown-cont {
    margin-bottom: 150px;
    width: 90%;
  }
}

@media #{$mobile} {
  .landing-cont {
    .heading-cont {
      font-size: 100px;

      &-is-collapsed {
        font-size: 50px;
      }
    }

    .input-cont {
      height: 60px;

      .input-text {
        font-size: 24px;
      }
    }

    .speech-icon {
      scale: 1.5;
    }
  }
}