@import "../../styles/partials/colors";
@import "../../styles/partials/screen-size";

.landing-cont {
  .heading-cont {
    margin-top: 200px;
    font-size: 60px;
    color: $yellow;
    font-weight: 700;
    transition: all 200ms ease-in-out;
    align-self: center;

    .search-txt-cont {
      color: white;
      font-weight: 400;
      transition: all 200ms ease-in-out;
    }

    &-is-collapsed {
      margin-top: 16px;
      font-size: 30px;
      align-self: start;
      margin-left: 5%;

      .search-txt-cont {
        opacity: 0;
      }
    }
  }

  .markdown-cont {
    margin-bottom: 150px;
    width: 90%;
  }
}

@media #{$desktop} {
  .landing-cont {
    .heading-cont {
      margin-top: 300px;
      font-size: 100px;

      &-is-collapsed {
        margin-top: 16px;
        font-size: 50px;
      }
    }

    .speech-icon {
      scale: 1.5;
    }
  }
}
