.icon {
    height: 16px;
    width: 16px;
    display: inline-block;
}

.d-flx {
    display: flex;
}

.a-itm {
    &-center {
        align-items: center;
    }

    &-start {
        align-items: start;
    }

    &-items {
        align-items: end;
    }
}

.j-con {
    &-center {
        justify-content: center;
    }

    &-start {
        justify-content: start;
    }

    &-space-between {
        justify-content: space-between;
    }

    &-space-around {
        justify-content: space-around;
    }

    &-space-evenly {
        justify-content: space-evenly;
    }
}