$dot-size: 30px;
$dot-space: 22px;
$bg-color: hsl(256, 33%, 10%);
$dot-color: hsl(256, 43%, 27%);

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
  background-image: linear-gradient(to bottom,
      transparent,
      transparent 16.6667%,
      $bg-color 16.6667%),
    linear-gradient(to right, $dot-color, $dot-color 16.6667%, $bg-color 16.6667%);
  background-size: $dot-size $dot-size;
  animation: bg-animate 150s infinite;
}

@keyframes bg-animate {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: -100% -100%;
  }
}